In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gmaps_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rawson,AR,2022-07-24 17:13:17,-43.3002,-65.1023,42.48,77,100,12.44
1,1,Atuona,PF,2022-07-24 17:13:18,-9.8000,-139.0333,77.11,66,64,19.15
2,2,Kodiak,US,2022-07-24 17:12:00,57.7900,-152.4072,54.91,88,100,12.66
3,3,San Cristobal,VE,2022-07-24 17:08:29,7.7669,-72.2250,78.98,37,96,7.63
4,4,Fare,PF,2022-07-24 17:13:18,-16.7000,-151.0167,78.96,76,2,12.59

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gmaps_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2022-07-24 17:13:18,-9.8000,-139.0333,77.11,66,64,19.15
3,3,San Cristobal,VE,2022-07-24 17:08:29,7.7669,-72.2250,78.98,37,96,7.63
4,4,Fare,PF,2022-07-24 17:13:18,-16.7000,-151.0167,78.96,76,2,12.59
7,7,Puerto Ayora,EC,2022-07-24 17:11:29,-0.7393,-90.3518,80.56,86,42,5.99
10,10,Sinnamary,GF,2022-07-24 17:09:22,5.3833,-52.9500,83.66,72,84,8.70
11,11,Vila Velha,BR,2022-07-24 17:12:37,-20.3297,-40.2925,78.75,75,75,10.36
13,13,Georgetown,MY,2022-07-24 17:09:27,5.4112,100.3354,79.90,92,40,2.30
15,15,Jamestown,US,2022-07-24 17:13:21,42.0970,-79.2353,82.04,69,100,13.80
16,16,Tonj,SS,2022-07-24 17:13:22,7.2737,28.6822,76.42,78,100,3.09
17,17,Kapaa,US,2022-07-24 17:13:22,22.0752,-159.3190,79.12,81,75,12.66

In [16]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.tail(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
591          Sassandra      CI     77.40   4.9500   -6.0833
595            Bubaque      GW     76.01  11.2833  -15.8333
597             Ipilan      PH     80.11   8.8431  117.9033
601       Port Antonio      JM     87.71  18.1800  -76.4612
603         Nouadhibou      MR     82.38  20.9310  -17.0347
608              Huron      US     85.96  41.1501  -82.5499
610  Brasilia De Minas      BR     83.48 -16.2064  -44.4333
612            Wanxian      CN     79.77  30.8039  108.3897
613           Tecpatan      MX     79.68  17.1333  -93.3000
614         Bell Ville      AR     76.89 -32.6259  -62.6887

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmaps_key
}

In [38]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,77.11,-9.8000,-139.0333,Villa Enata
3,San Cristobal,VE,78.98,7.7669,-72.2250,Pirineos
4,Fare,PF,78.96,-16.7000,-151.0167,Maitai Lapita Village Huahine
7,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
10,Sinnamary,GF,83.66,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
11,Vila Velha,BR,78.75,-20.3297,-40.2925,Hotel Vitória Palace
13,Georgetown,MY,79.90,5.4112,100.3354,Cititel Penang
15,Jamestown,US,82.04,42.0970,-79.2353,Hampton Inn & Suites Jamestown
16,Tonj,SS,76.42,7.2737,28.6822,Lakan Hotel
17,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [43]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))