In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gmaps_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rawson,AR,2022-07-24 17:13:17,-43.3002,-65.1023,42.48,77,100,12.44
1,1,Atuona,PF,2022-07-24 17:13:18,-9.8000,-139.0333,77.11,66,64,19.15
2,2,Kodiak,US,2022-07-24 17:12:00,57.7900,-152.4072,54.91,88,100,12.66
3,3,San Cristobal,VE,2022-07-24 17:08:29,7.7669,-72.2250,78.98,37,96,7.63
4,4,Fare,PF,2022-07-24 17:13:18,-16.7000,-151.0167,78.96,76,2,12.59

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gmaps_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))